body {
    font-family: 'Karla', sans-serif;
}


nav {
    display: grid;
    justify-items: center;
    font-size: 44px;
    padding: 25px;

}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin: 25px;
}

article {
    margin: 25px;
}

p {
    margin: 5px;
}
small {
    margin: 5px;
}